{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explorer</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/core.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="wrapper">

    <ul class="menu_links">
        <li>
            <a href="{% url 'home' %}">Башкы бет</a>
        </li>
        <li>
            <a href="{% url 'home_chat' %}">Чат</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Катталуу</a>
        </li>
    </ul>

    <div class="sponsor_text">
    <p>Наши спонсоры!</p>
</div>

    <div>
        <!-- gcfgvjhb -->
        <div class="luke_block">
            <div class="container">
                <div class="luke_inner">
                    <div class="luke_cage">
                        <div class="luke_name">
                            <h3>Тайлаков Мелис</h3>
                            <p>October 11, 2006</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_block_text">
            <div class="container">
                <div class="inner_white_text">
                    <p>"Бешке бешти кошсо, он болот"</p>
                    <a href="https://www.instagram.com/alai1ev_01/">instagram → @alai1ev_01</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="simpson_block">
            <div class="container">
                <div class="inner_simpson">
                    <div class="luke_cage">
                        <div class="jessica_name">
                            <h3>Нурболот Дордоев</h3>
                            <p>June 12, 2005</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_block_text">
            <div class="container">
                <div class="inner_white_text">
                    <p>"Асман кок, чоп жашыл..."</p>
                    <a href="https://www.instagram.com/ndordoev/">instagram → @ndordoev</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="another">
            <div class="container">
                <div class="inner_another_one">
                    <div class="luke_cage">
                        <div class="luke_name">
                            <h3>Бекназар Асыранкулов</h3>
                            <p>March 28, 2004</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_block_text">
            <div class="container">
                <div class="inner_white_text">
                    <p>"Жакшы болуу аста-аста, жаман болуу бир паста"</p>
                    <a href="https://www.instagram.com/_.kg_04._/">instagram → @_.kg_04._</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="another">
            <div class="container">
                <div class="inner_another_two">
                    <div class="luke_cage">
                        <div class="luke_name">
                            <h3>Белек Асраров</h3>
                            <p>June 1, 2005</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_block_text">
            <div class="container">
                <div class="inner_white_text">
                    <p>"Кийинки парага барам, жигиттер"</p>
                    <a href="https://www.instagram.com/belekasrar/">instagram → @belekasrar</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="simpson_block">
            <div class="container">
                <div class="inner_simpson_one">
                    <div class="luke_cage">
                        <div class="jessica_name">
                            <h3>Талипов Эрбол</h3>
                            <p>July 30, 2005</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_block_text">
            <div class="container">
                <div class="inner_white_text">
                    <p>"Пацаны - как алмазы, их находят в самых темных местах."</p>
                    <a href="https://www.instagram.com/_talipv_/">instagram → @_talipv_</a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="simpson_block">
            <div class="container">
                <div class="inner_simpson_two">
                    <div class="luke_cage">
                        <div class="jessica_name">
                            <h3>Талипов Бекбол</h3>
                            <p>July 30, 2005</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="white_block_text">
            <div class="container">
                <div class="inner_white_text">
                    <p>"Одна ошибка - и ты ошибся!"</p>
                    <a href="https://www.instagram.com/tlpv_bekbo1/">instagram → @tlpv_bekbo1</a>
                </div>
            </div>
        </div>
    </div>


</div>
</div>

<div class="footer">
    <p> Сайт Мелис, Бекназар, Нурболот, Белек тарабынан жасалып чыкты    </p>
    <p>Автордук укук © </p>
</div>

</body>
</html>
