/* Стили для заголовка */
#header {
  background-color: #333; /* Цвет фона заголовка */
  color: white; /* Цвет текста заголовка */
  padding: 10px 0; /* Внутренние отступы заголовка */
}

/* Стили для контейнера заголовка */
.container {
  max-width: 800px; /* Максимальная ширина контейнера */
  margin: 0 auto; /* Выравнивание по центру */
  display: flex; /* Располагаем дочерние элементы в одной линии */
  justify-content: space-between; /* Располагаем элементы по краям контейнера */
}

/* Стили для ссылок в заголовке */
.header a {
  color: white; /* Цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание текста */
  margin-right: 20px; /* Внешний отступ между ссылками */
}

/* Стили для последней ссылки (Чат) */
.header a:last-child {
  margin-right: 0; /* Убираем внешний отступ справа у последней ссылки */
}

/* Стили для ссылок при наведении */
.header a:hover {
  text-decoration: underline; /* Подчеркиваем текст при наведении */
}
